* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-size: 14px;
}
.header {
  background-image:  linear-gradient(to bottom,rgba(255, 255, 255, 0.596), rgba(0, 0, 0, 0.603)),  url("images/background.jpg");
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* HEADER */
.navbar div {
  margin: 20px auto 0 auto;
  width: 100%;
  text-align: center;
  width: 250px;
  overflow: hidden;
}
.logo {
  width: 100%;
  height: 100%;
}
/* FOOTER */
footer {
  background: rgba(40, 90, 51, 0.925);
  margin: 0;
}
  
.home:hover {
  background-color: rgb(40, 90, 51);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.562), 0 6px 6px rgba(255, 255, 255, 0.493); 
}
.copy-right {
  text-align: center;
  color: #fff;
  padding: 10px 3px;
  margin: 0;
}
.explore {
  border: 1px solid red;
  padding: 5px 15px;
  background: red;
  color: #fff;
  border-radius: 3px;
  text-transform: capitalize;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25), 0 3px 3px rgba(255, 255, 255, 0.25);
}
.explore:hover {
  text-decoration: none;
  background: #fff;
  color: red;
  text-transform: uppercase;
}
/* MODALS */
.modals {
position: fixed;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: hidden;
background-color: rgba(0, 0, 0, 0.5);
display: none;
transition: display 5s;
z-index: 1;
}
.modal-active {
display: block;
}
.modals-content {
background-color: #ffffff;
margin: 20% auto;
padding: 0px 20px;
width: 90%;
box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
.modals-body {
padding: 15px;
}
.modals-title {
color: green;
padding-top: 20px;
}
.closebtn {
font-size: 30px;
float: right;
color: #ccc;
}
.closebtn:hover,
.closebtn:focus {
cursor: pointer;
color: #000;
text-decoration: none;
}

/* PRODUCTS */

.product-details {
    align-content: center;
    align-items: center;
    text-align: center;
   display: grid;
   grid-template-columns: repeat(7, 150px);
   grid-gap: 20px;
   min-height: 75vh;
}
.product {
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(255, 115, 115, 0.25), 0 6px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: inline-block;
  transition: all 1s  cubic-bezier(0.25, .8, .25, 1)
}
.product-details div {
  background-color: #fff;
}
.product-img {
  width: inherit;
  height: 150px;
  overflow: hidden;
  object-fit: contain;
  box-shadow: 0px 0px 1px 0 rgb(185, 184, 184);
}
.product-img img {
  object-fit: contain;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}

.product:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .20);
}
.product-details:hover .product:not(:hover) {
  opacity: .6;
}


@media only screen and (max-width: 600px) {
  .copy-right {
    font-size: 12px;
  }
}
